<%= render "layouts/header" %>
<% if @loan_requests.blank? %>
    <div align='center'>
        <h3>No Loans History Present.!!</h3>
    </div>
<% else %>
    <%@loan_requests.each do |loan|%>
        <p style="border-color: grey; border-width: 2px; border-style: solid; width: 50%; padding: 10px">
            <%if loan.status == 'rejected' || loan.status == 'closed'%>
            <label style="margin: 0px 0px 0px 300px"> Status: <strong style="color: red;"><%=loan.status%></strong></label><br><br>
            <%elsif loan.status == 'approved' || loan.status == 'open'%>
            <label style="margin: 0px 0px 0px 300px"> Status: <strong style="color: green;"><%=loan.status%></strong></label><br><br>
            <%else%>
            <label style="margin: 0px 0px 0px 300px"> Status: <strong style="color: brown;"><%=loan.status%></strong></label><br><br>
            <%end%>
            <label> Loan ID: <%=loan.special_request_id%> </label><br><br>
            <label> Requested By: <%=loan.user.first_name%> </label><br><br>
            <label> Contact Number: <%=loan.user.contact_number%> </label><br><br>
            <label> Requested Amount: <%=loan.desired_amount%> </label><br><br>
            <label> Desired Interest Rate: <%=loan.desired_interest%> </label><br><br>
            <%= link_to 'View', user_loan_request_path(user_id: @user.id, id: loan.id), method: :get %>
            <%= link_to 'Re-Adjust', edit_user_loan_request_path(user_id: @user.id, id: loan.id), method: :get unless ['approved', 'open', 'closed', 'rejected'].include?(loan.status)%> &nbsp &nbsp &nbsp
            <%= link_to 'Confirm', user_loan_request_action_on_loan_path(user_id: @user.id, loan_request_id: loan.id , status: true), method: :get if @user.Other? && loan.status == 'approved' && loan.user_confirmed.nil? %> &nbsp &nbsp &nbsp
            <%= link_to 'Decline', user_loan_request_action_on_loan_path(user_id: @user.id, loan_request_id: loan.id , status: false), method: :get if @user.Other? && loan.status == 'approved' && loan.user_confirmed.nil? %> &nbsp &nbsp &nbsp
        </p>
    <%end%>
<% end %>