<%= render "layouts/header" %>
<h2>My Profile</h2> <br>
<p>Name : <%=@user.first_name %><%=@user.last_name %> </p>
<p>Role : <%=@user.role %></p> 
<p>Email : <%=@user.email %></p>
<%= link_to 'Loan_Requests', user_loan_requests_path(user_id: @user.id), method: :get if @user.role == 'Admin'%>
<%= link_to 'Request New Loan', new_user_loan_request_path(user_id: @user.id), method: :get if @user.role == 'Other'%> &nbsp &nbsp
<%= link_to 'My Loans', user_my_loans_path(user_id: @user.id), method: :get if @user.role == 'Other'%> 
<br>
